@charset "utf-8";

blockquote{
  margin:1em 1em 1em 0;
  border-color:#888;
  font-style:normal;
  color:#888;
}
.page__content{
  p{
    margin-bottom:1em;
  }
}

@media (min-width: 80em){
  html {
    font-size: 20px;
  }
}